<a href="https://colab.research.google.com/github/Jomonjoseph25/DSA_B5_Assignments/blob/main/Case_Study4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from sklearn.preprocessing import LabelEncoder

# Reading Data set

In [ ]:
Data=pd.read_csv('/content/drive/MyDrive/Case Study 4/Sales_add.csv')
Data

       Month  ... Sales_After_digital_add(in $)
0    Month-1  ...                        270390
1    Month-2  ...                        223334
2    Month-3  ...                        244243
3    Month-4  ...                        231808
4    Month-5  ...                        258402
5    Month-6  ...                        256948
6    Month-7  ...                        222106
7    Month-8  ...                        230637
8    Month-9  ...                        226261
9   Month-10  ...                        193735
10  Month-11  ...                        203175
11  Month-12  ...                        276279
12  Month-13  ...                        205180
13  Month-14  ...                        253131
14  Month-15  ...                        229336
15  Month-16  ...                        187305
16  Month-17  ...                        234908
17  Month-18  ...                        191517
18  Month-19  ...                        227040
19  Month-20  ...                        212579
20  Month-21  ...                        263388
21  Month-22  ...                        243020

[22 rows x 5 columns]

In [ ]:
Data.shape

(22, 5)

# Calculating the Details for Data

In [ ]:
Data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

Null Hypothesis: There is increase in sales after company started digital marketing
Alternate Hypothesis: There is no increase in sales after company started digital marketing

In [18]:
tvalue, pvalue = stats.ttest_ind(Data['Sales_before_digital_add(in $)'],Data['Sales_After_digital_add(in $)'])
print('tvalue:',tvalue,'pvalue:',pvalue)

tvalue: -12.995084451110877 pvalue: 2.614368006904645e-16

In [19]:
tt=stats.t.ppf((1-0.05), 21)
tt

1.7207429028118775

From the average of both feature says there is a significant increase in sales after adding the digital marketing. Here in above test tvalue less than critical value and p value>0.05. So we can not reject null hypothesis. There is increase in sales after company started digital marketing.

# Chi Test for Dependency

Null Hypothesis: There is a dependency between features Region and Manager
Alternate Hypothesis: There is no dependency between features Region and Manager

In [ ]:
label_encoder = LabelEncoder()
Data['Region'] = label_encoder.fit_transform(Data['Region'])
Data['Manager'] = label_encoder.fit_transform(Data['Manager'])
Data.head()

     Month  ...  Sales_After_digital_add(in $)
0  Month-1  ...                         270390
1  Month-2  ...                         223334
2  Month-3  ...                         244243
3  Month-4  ...                         231808
4  Month-5  ...                         258402

[5 rows x 5 columns]

In [13]:
from sklearn.feature_selection import chi2
X = Data.drop(['Sales_After_digital_add(in $)','Month'],axis=1)
y = Data['Sales_After_digital_add(in $)']
chi_scores = chi2(X,y)
chi_scores

(array([1.79411765e+01, 1.68947368e+01, 3.10054893e+04]),
 array([0.65272365, 0.71746706, 0.        ]))

In [14]:
cv=scipy.stats.chi2.ppf(0.05, 21)
cv

11.591305208820733

Here Chi square value less than critical value and p value > level of significance. So we can not reject the null hypothesis. There is a dependency between Region and Manager